
.onsite__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
}

.onsite__navbar-pages{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.onsite__navbar_left img{
    height: 6vh;
    width: 12vw;
    cursor: pointer;
}
.onsite__navbar_pages_phone,
.onsite__navbar_pages_hours,
.onsite__navbar_pages_email{
    display: flex;
    justify-content: space-between;

}

.onsite__navbar_pages_phone p,
.onsite__navbar_pages_hours p,
.onsite__navbar_pages_email a,
.onsite__navbar_link {
    text-decoration: none;
    color: black;
    font-family: Manrope;
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 1vw;
    cursor: pointer;
}

