.onsite__component_features{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--construction-yellow, #FFB400);
    height: 100%;
    width: 100%;
}

.onsite__component_features_list {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.onsite__component_features_list_heading {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1rem;
}


.onsite__component_features_list_heading > * {
    /* color: #000;
    font-size: 1vw;
    font-style: bold;
    font-weight: 500;
    font-weight: bolder;
    text-align: left; */
}

.onsite__component_features_list_heading h3{
    
}

.onsite__component_features_list p {
    /* margin: 0 0 0 2rem;
    color: #000;
    font-size: 0.8vw; */
}
