.onsite__sections_ourStory_description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.onsite__sections_ourStory_description img {
    height: 30vh;
    width: 20vw;
}

.onsite__sections_ourStory_description p {
    margin: 0 0 0 2rem;
    color: #000;
    font-size: 1vw;
}

.onsite__sections_ourStory {
    display: flex;
}